.project
.metadata
*.tmp
*.pref
.classpath
*~
*.class
Makefile
ctdt.c

tags

pidrecord.txt

*.slo
*.lo
*.o
*.d
*.so
*.dylib
*.lai
*.la
*.a
.cproject
.wrmakefile
.wrproject
*.d
*.out
sample.txt

# if it's listed below, put it elsewhere.
*.7z
*.aif
*.avi
*.bak
*.bz2
*.bzip
*.db
*.deb
*.dmg
*.egg
*.gem
*.gif
*.gz
*.iso
*.jar
*.jpg
*.lzma
*.mid
*.midi
*.mp3
*.oni
*.pdf
*.ps
*.rar
*.rpm
*.tar
*.wav
*.xpi
*.xz
*.zip
